<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoviesWithTravis.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C0E2D55229CCBD8002A94DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0E2D63229CD1BA002A94DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C17C2B2229B3ACF008C7F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C17C2C6229B3AD1008C7F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C17C2D1229B3AD1008C7F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
